<% provide(:title, 'Log in') %>
<div class="sign-container">
<div class="signin">
<h2>Вход</h2>

    <%= form_for(:session, url: login_path) do |f| %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label "Пароль" %>
      
      <%= f.password_field :password, class: 'form-control' %>
      
      <div id="signin_options">

        <label class="inp_btn_label">
              <div class="inp_btn checkbox active"><input name="session[remember_me]" type="hidden" value="0">
              <input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me"></div>Запомнить меня</label>

        <%= link_to "Регистрация", signup_path, class: 'right' %>
      </div>

      <%= f.submit "Войти", class: "btn btn-primary" %>
    <% end %>
    
    
    <p>
  
  </p>
</div>
</div>