<div class="sep_05"></div>

<div class="option_list">
<% if @item.class.name =='Status' %>
  <%= render 'statuses/new_item' %>
<% else %>
  <%= render 'shared/new_item' %>
<% end %>
</div>

<div class="sep_15"></div>

<% if @items.first.nil? %>
<% attrs = @item.attributes.except("id", "created_at", "updated_at") %>
<% else %>
<% attrs = @items.first.attributes.except("id", "created_at", "updated_at") %>
<% end %>

<div class="panel panel-default">
<div class="panel-heading table-heading"><%= t("list_"+@item.class.name) %></div>
<table class="table table-striped" model="<%= @item.class.name %>">
  <thead>
  <% attrs.each do |attr| %>
  	<th <%= attr_boolean?(@item,attr[0]) ? 'width=60px;':'' %> fld='<%= attr[0] %>'><%= t(attr[0]) %></th>
  <% end %>
  <th width="60px;"></th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% attrs.each do |attr| %>
          <% if attr_boolean?(@item,attr[0]) %>
            <td class="state"><span class="check_img sw_check <%= item[attr[0]] ? "checked" :"" %>" item_id="<%= item.id%>" chk="<%= attr[0] %>"></span>
            </td> 
          <% else %>
            <td><%= item[attr[0]].to_s %></td>
          <% end %>
        <% end %>
        <%= td_tool_icons(item, 'edit,delete',{tag: 'span', subcount: item.try(:parents_count)} )%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
