<div class="panel panel-default">
  <div class="panel-heading table-heading"><%= @header %></div>
  <table class="table table-striped" model="Goal">
  <thead>
    <th fld='fixed'></th>
  	<th fld='name'>Задача</th>
    <% if @header!='Сегодня' %>
        <th fld='start_date'>Дата</th>
    <% end %>
  <th></th>
  </thead>

    <tbody>
     <% @cur_goals.each do |goal| %>
     <tr class="<%= goal.fixed ? "checked" :"" %> <%= goal.personal ? "" : "work_goal" %>">
     <td class="td_chk"><span class="check_img <%= goal.fixed ? "checked" :"" %>" item_id="<%= goal.id%>" chk="fixed"></span> </td>
      <td><%= goal.name %></td>
      <% if @header!='Сегодня' %>
        <td><%= goal.start_date.try('strftime','%d.%m.%y') %></td>
      <% end -%>
      <td class="tools">
       <span class="btn-toolbar icon btn-toolbar-light left" item_id="<%= goal.id %>"></span>
     </td>

     </tr>
     <% end %>
    </tbody>
  </table>
</div>

<div id="toolbar-options" class="hidden">
 <a href="#"><span class="icon toolbar-work" title='Рабочая/личная'></a>
 <a href="#"><span class="icon toolbar-right" title='На завтра'></a>
 
 <% if @header != 'Сегодня' %>
 <a href="#"><span class="icon toolbar-down" title='На сегодня'></a>
 <% end -%>

 <a href="#"><span class="icon toolbar-edit" data-modal="true"></a>
 <a href="#"><span class="icon toolbar-delete"></a>
</div>

