<div class="all_goals">

<%= form_for(@goal) do |f| %>
<div class="itemAdd_form">
  <div class="caption">Новая задача:</div>
  <div class="inp left w260"><%= f.text_field :name, :class => 'txt' %></div>
  <div class="inp left w130">
  <%= f.text_field :start_date,:value => Date.today.try('strftime',"%d.%m.%Y %H:%M"), label: false, class: "txt datepicker" %>
  </div>
    <div class="inp_ch_head">
    <%= f.check_box :personal %>
    <div class="caption">Личная</div>
  </div>
  <div class="inp_w" style="width: 120px;"><%= chosen_src :priority_id, Priority.all, @goal %></div>
  
  <!-- < f.collection_select(:priorities, Priority.all, :id, :name, {}, {multiple: true,  class: "chosen-select", :include_blank => 'None'}) %> -->
  <span class="sub btn btn-min2 btn-success mrg_l" id="btn-send"> Добавить</span>
</div>

<% end %>

<div class="col-lg-4">
  <div id='goals_past'> 
    <%= render 'goals_past'%>
  </div>
</div>

<div class="col-lg-4" >
<div id='goals_today'> 
    <%= render 'goals_today'%>
</div>


</div>

<div class="col-lg-4">
  <div id='goals_next'> 
    <%= render 'goals_next'%>
  </div>
</div>
</div>

