<h1>Счетчик обращений</h1>

<div id="table_type" class="bs-docs header h_types">
	<div class="btn-group" data-toggle="buttons-radio">
			<% subclass = " active" %>
			<% for utype in @utypes %>
			    <button type="button" class="btn btn-small<%= subclass %>" type_id="<%= utype.id %>"><%= utype.name %></button>
			    <%= subclass = "" %>
			<% end %>			
	</div>
</div>

<div id="table_type" class="bs-docs header h_counter">
    <div id="counter">  <div id="demo2" ><i class="icon-time"></i> <span>00:00:00.0<span></div></div>
</div>


<div id="table_otdels" class="bs-docs header h_otdels">
	<%= render 'shared/otdels' %>
</div>

<div id="table_tasks" class="bs-docs header h_tasks">
     <%= render 'shared/tasks' %>
</div>

<div id="table_seconds" class="bs-docs header h_rings"><%= render 'used_times' %></div>
</div>
